body {
  margin:0;
  overflow:hidden;
}

.main {
  width:100%;
  height:100vh;
  display:flex;
  justify-content:center;
  align-items:center;
  background:linear-gradient(to left top, #526A77, #092D42);
}

.contain {
  width:360px;
  height:400px;
  display:flex;
  justify-content:center;
  align-items:center;
  background:transparent;
}

.cover {
  width:80px;
  height:80px;
  display:flex;
  justify-content:center;
  align-items:center;
  background:black;
  border-radius:50%;
  z-index:9999;
  position:relative;
  top:auto;
  left:auto;
  cursor:pointer;
}

.cover img{
  z-index:999999;
  width:40%;
  height:40%;
}

.outer {
  width:0px;
  height:0px;
  display:flex;
  justify-content:center;
  align-items:center;
  border-radius:50%;
  background:transparent;
  z-index:1;
  position:absolute;
  top:auto;
  left:auto;
  transition:all .35s ease;
}

.isOpen {
  width:250px;
  height:250px;
  top:auto;
  left:auto;transform:rotate(360deg);
  }

  .inner {
    width:30%;
    height:26%;
    display:flex;
    justify-content:center;
    align-items:center;
    border-radius:50%;
    background:#AACCE0;
    position:relative;
    left:2%;
    cursor:pointer;
    transition:box-shadow .5s ease;
  }

  .inner img {
    width:50%;
    height:50%;
  }

  .inner:hover {
    box-shadow:0 0px 15px #f0f0ee;
  }

  .inner:nth-child(2) {
    background:#7B9EB2;
    position:relative;
    top:-36.75%;
    left:12%;
  }

  .inner:nth-child(3) {
    background:#092D42;
    position:relative;
    top:37%;
    left:-12%;
  }

  .inner:nth-child(4) {
    background:#347AA3;
    position:relative;
    left:-2%;
  }