
/* Global Styles */

body {
  font-family: Arial, sans-serif;
  text-align: center;
  background-color:#F7F7F7; /* Soft white background */
  margin: 0; /* Remove default margin */
  height: 80vh; /* Full height */
  overflow: hidden; /* Hide scrollbar */
}

header {
  background-color: #87CEEB; /* Green header */
  padding: 20px;
  color: #fff; /* White text */
  text-shadow: 0 0 10px rgba(0, 0, 0, 0.5); /* Shadow effect */
  width: 100%; /* Full width */
}

header h1 {
  margin: 0; /* Remove default margin */
  font-size: 50px; /* Larger font size */
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 40px;
  height: calc(100vh - 80px); /* Full height minus header */
  overflow-y: auto; /* Scrollable content */
}

main p {
  font-size: 20px; /* Larger font size */
  margin-bottom: 40px; /* Spacing */
}

.start-button {
  background-color: #87CEEB; /* Vibrant orange */
  color: #fff;
  padding: 15px 30px;
  font-size: 20px;
  cursor: pointer;
  border-radius: 10px; /* Softer corners */
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2); /* Depth effect */
  position: absolute; /* Absolute positioning */
  bottom: 20px; /* Distance from bottom */
  left: 50%; /* Center horizontally */
  transform: translateX(-50%); /* Center horizontally */
}

.start-button:hover {
  background-color: #c0392b; /* Hover effect */
}

.start-button:active {
  transform: scale(0.9) translateX(-50%); /* Pressed effect */
}

/* Responsive design */

@media only screen and (max-width: 768px) {
  .start-button {
    font-size: 18px;
    padding: 10px 20px;
  }
}
